/* main color 21094E */
/* textcolor 77ACF1 */
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  background-color: #21094e;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
}
p {
  font-weight: 100;
}
ul {
  margin: 0;
  padding: 0;
}
header {
  position: fixed;
  bottom: 0;
  width: 100%;
}
.nav_items {
  display: flex;
  flex-direction: column;

  align-items: center;
}
.menu_items,
.svg_images {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu_items {
  background-color: #21094e;
  border-radius: 1em 1em 0 0;
}
.list_items {
  margin: 0;
  width: 100%;
  padding: 2em 0;
  justify-content: space-between;
  background-color: #77acf1;

  display: none;
  transition: 1s;
}
.items {
  padding: 0 0.5em;
}
.nav_items_arrow {
  transform: scale(2);
  padding: 0.5em;
}
.nav_items_name {
  font-weight: 500;
  padding: 0.5em;
}

a {
  text-decoration: none;
  font-weight: 300;
  color: #fff;
}
.raman_img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  margin: auto;
  padding: 1em;
}
.main {
  width: 90%;
  padding: 1em;
}
.social img,
.front_arrow,
.back_arrow,
.details img {
  width: 1.5em;
  height: auto;
}
.details {
  padding: 0.5em;
  align-items: flex-start;
}
.btn {
  width: 9em;
  height: 2.5em;
  background-color: #77acf1;
  color: #21094e;
  font-weight: bold;
  font-family: "Poppins";
  border: 0;
}
.about,
.skills {
  width: 100%;
  text-align: center;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;
}
.skills img {
  padding-left: 70%;
}
.skills_set {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 1em auto;
  background-color: #77acf1;
  color: #21094e;
  padding: 0.5em;
  border-radius: 0.5em;
  text-align: start;
}
.html,
.css,
.react,
.node,
.mongodb {
  margin: 0 1em;
  align-self: flex-start;
  width: 80%;
  height: 0.2em;
  border-radius: 0.1em;
  background-color: #77acf1;
  animation: skill_translate 1s;
}
.backend,
.frontend {
  display: none;
}
.html {
  width: 80%;
  animation: skill_translate 1s;
}
.css {
  width: 70%;
  animation: skill_translate 1s;
}
.react {
  width: 50%;
  animation: skill_translate 1s;
}
.node {
  width: 70%;
  animation: skill_translate 1s;
}
.mongodb {
  width: 70%;
  animation: skill_translate 1s;
}

.contacts {
  width: 100%;
  height: 15em;
  background-color: #b3ccee;
  margin: auto;
  color: #21094e;
  border-radius: 1em 1em 0 0;
}
.contacts p {
  font-weight: 500;
  padding-top: 1em;
}
@keyframes skill_translate {
  from {
    width: 0;
  }
  to {
    width: 80%;
  }
}
.translate {
  display: flex;
  animation: animate 1s;
}
@keyframes animate {
  0% {
    bottom: -100%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}
